<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
 <settings>
 	<setting name="logImpl" value="LOG4J"/>
 </settings>
 
 <typeAliases>
 	<typeAlias type="com.englishvillage.member.admin.model.MemberListDto" alias="memberDto"/>
 	<typeAlias type="com.englishvillage.member.student.model.MemberFileDto" alias="memberFileDto"/>
 	<typeAlias type="com.englishvillage.member.student.model.QuestionBoardDto" alias="QuestionBoardDto"/>
 </typeAliases>
 
  
</configuration>